[Unit]
Description=Go Server Service
After=network.target

[Service]
Type=simple
User={{USER}}
Group={{GROUP}}
WorkingDirectory={{WORKING_DIRECTORY}}
ExecStart={{EXEC_START}}
Restart=on-failure
RestartSec=5s
Environment=PORT=8080
EnvironmentFile={{WORKING_DIRECTORY}}/.env

[Install]
WantedBy=multi-user.target
